<h2>Edit Celebrity</h2>

{{!- - - - - - - - - - - - - - - - - - - - - - CELEBRITY CREATION FORM }}
<form method="POST">
<input type="text" name="name" placeholder= "{{ celebrityDetail.name }}">
<input type="text" name="occupation" placeholder="{{ celebrityDetail.occupation }}">
<input type="text" name="catchPhrase" placeholder="{{ celebrityDetail.catchPhrase }}">
<button>Save Celebrity</button>
</form>


{{!- - - - - - - - - - - - - - - - - - - - - - - - - - - - HOME BUTTON }}
  <a href="/">Home</a>