<h2>All Movies</h2>

{{!- - - - - - - - - - - - - - - - - - - - - - - - - - LOOP & PRINT }}
  {{#each movieList}}
   <ul>
   <li><a href="/movies/show/{{_id}}"> {{ title }} </a></li>
   </ul>

{{!- - - - - - - - - - - - - - - - - - - - - - - - - - - - DELETE BUTTON }}
   <form method="POST" action="/movies/{{_id}}/delete">
   <button>Delete Movie</button>
   </form>
  {{/each}}

{{!- - - - - - - - - - - - - - - - - - - - - - - - - - - - CREATE BUTTON }}
  <a href="/movies/create"> Create A Movie</a>

{{!- - - - - - - - - - - - - - - - - - - - - - - - - - - - HOME BUTTON }}
  <a href="/">Home</a>

