<h2>Movie Details</h2>

{{!- - - - - - - - - - - - - - - - - - - - - - MOVIE DETAIL PAGE }}
<h2> {{ movieDetail.title }} </h2>
<p> {{ movieDetail.genre }} </p>
<p> {{ movieDetail.plot }} </p>


{{!- - - - - - - - - - - - - - - - - - - - - - - - - - - - HOME BUTTON }}
  <a href="/">Home</a>